<div class="filter-bar-container">
    <div class="filters">
      <div class="filter">
        <input type="text" id="SearchFilter" placeholder="Search">
      </div>
  
      <div class="filter">
        <input type="text" id="OfficeFilter" placeholder="Office">
      </div>
    </div>

    <div class="btn-container">
        <div class="search-button">
            <button>Search</button>
          </div>
        <div class="add-doctor-btn">
            <button routerLink="/create-doctor">Add</button>
        </div>
    </div>
    
</div>